{% extends 'base.html' %}
{% load static %}
{% block title %}Accès refusé - Plateforme Pédagogique{% endblock %}
{% block content %}
    <div class="container">
        <main class="main-content text-center">
            <img src="{% static 'notAllowedBanner.png' %}" alt="Accès refusé" class="img-banner">
            <h1>Accès refusé</h1>
            <p class="text-muted">Vous n'avez pas les droits nécessaires pour accéder à cette page.</p>
            <a href="/" class="btn btn-primary">Retour à l'accueil</a>
        </main>
    </div>
{% endblock %}
